/* ========================================
   Button Components & Styling
   ======================================== */

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

h1:focus {
    outline: none;
}
