/* ========================================
   Header Sections & Page Headers
   ======================================== */

.employeeinfopage .overview-header {
    padding: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.07);
}

.paystub-header,
.payroll-header {
    font-size: 13px;
    font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    line-height: 20px;
    padding: 0 0 20px 0;
}

.employeeinfo-header {
    padding: 0 0 20px 0;
}

.employeeLeave-header {
    font-size: 13px;
    font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    line-height: 20px;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
}
@media(max-width:992px){
    .employeeLeave-header {
        flex-direction: column;
        height: 12vh;
    }
}
