@page "/achievements"

@using Syncfusion.Blazor.Cards

<div class="achievementspage">
    <div class="achievements-content">
        <div class="col-lg-12 control-section card-control-section basic_card_layout">
            <div class="e-card-resize-container">
                <div class="row">
                    <div class="row card-layout">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Recognizing Excellence in Software Development" SubTitle="Innovation Award"></CardHeader>
                                
                                <CardContent>
                                    Celebrating groundbreaking solutions and inventive
                                    approaches. Acknowledging teams or individuals driving
                                    technological advancements. Honoring those who push
                                    boundaries and redefine industry standards. Encouraging a
                                    culture of creativity and forward-thinking.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Milestones and Accomplishments" SubTitle="Product Launch Achievement"></CardHeader>
                                
                                <CardContent>
                                    Marking the successful release of a new software product
                                    or feature. Highlighting the collaborative efforts behind
                                    development, testing, and deployment. Recognizing the
                                    impact on customer satisfaction and business growth.
                                    Motivating teams to strive for continued excellence and
                                    innovation.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row card-layout">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Team Performance and Collaboration" SubTitle="Product Launch Achievement"></CardHeader>
                                
                                <CardContent>
                                    Marking the successful release of a new software product or feature. Highlighting the collaborative efforts behind development, testing, and deployment. Recognizing the impact on customer satisfaction and business growth. Motivating teams to strive for continued excellence and innovation.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Professional Development and Skills Mastery" SubTitle="Certification Attainment"></CardHeader>
                                
                                <CardContent>
                                    Celebrating individuals who acquire new skills and
                                    certifications. Recognizing dedication to continuous
                                    learning and professional growth. Validating expertise and
                                    proficiency in specific technologies or methodologies.
                                    Encouraging a culture of lifelong learning and skill
                                    enhancement.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">Read More</a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row card-layout">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Client Impact and Customer Success" SubTitle="Customer Satisfaction Excellence"></CardHeader>
                                
                                <CardContent>
                                    Recognizing teams that go above and beyond to deliver exceptional customer experiences. Celebrating innovative solutions that address client needs and enhance user satisfaction. Acknowledging effortsin building strong customer relationships through reliable support and service.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Professional Development and Skills Mastery" SubTitle="Certification Attainment"></CardHeader>
                                
                                <CardContent>
                                    Celebrating individuals who acquire new skills and certifications. Recognizing dedication to continuous learning and professional growth. Validating expertise and proficiency in specific technologies or methodologies. Encouraging a culture of lifelong learning and skill enhancement.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>