@page "/policies"

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons

<div class="policiespage">
     @* <div class="policies-header">  *@
     @*     <div>Policies</div>  *@
     @* </div>  *@
    <div class="policies-content">
        <div class="col-lg-12 card-control-section basic_card_layout">
            <div class="e-card-resize-container">
                <div class="row">
                    <div class="row card-layout">
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Assets Policy"></CardHeader>
                                
                                <CardContent>
                                    Our company provides employees with necessary work devices to enhance productivity.
                                    Employees may take these devices home but are responsible for their safekeeping and proper usage.
                                    Devices must remain in good condition and be returned in working order when no longer needed or upon employment termination.
                                    Employees are not permitted to install unauthorized software, modify device settings, or use company assets for personal gain.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                        @* <SfButton CssClass="e-btn e-outline e-primary" >Read More</SfButton> *@
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="weather_card">
                                <CardHeader title="Attendance Policy"></CardHeader>
                                
                                <CardContent>
                                    Punctuality and consistent attendance are crucial for maintaining workflow efficiency and team collaboration.
                                    Employees should adhere to their assigned work schedules and inform supervisors promptly about any absences.
                                    Repeated lateness or unexcused absences may lead to corrective measures.
                                    Remote employees are also expected to maintain a professional work routine and be available during business hours.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="basic_card">
                                <CardHeader title="Protecting Information Policy"></CardHeader>
                                
                                <CardContent>
                                    Protecting our company's information is the
                                    responsibility of every associate, and we all share a common interest in making
                                    sure information is not improperly or accidentally disclosed.Employees must follow
                                    strict security protocols, including password protection, data encryption, and secure file sharing.
                                    Confidential business data should not be shared with unauthorized personnel or stored on personal devices.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row card-layout">
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="basic_card">
                                <CardHeader title="Leave Policy"></CardHeader>
                                
                                <CardContent>
                                    Our company values employee well-being and offers
                                    36 annual leave days to support work-life balance.
                                    Employees are required to submit leave requests in advance for approval.
                                    Leave categories include annual leave, medical leave, family leave, and earned leave.
                                    Unused leave may be carried over based on company policy.
                                    Employees must ensure that their responsibilities are covered during their absence to maintain workflow efficiency.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="weather_card">
                                <CardHeader title="Remote Work Policy"></CardHeader>
                                
                                <CardContent>
                                    We support flexible work arrangements, allowing employees
                                    to work remotely when feasible. Remote employees must ensure they have a
                                    reliable internet connection, use approved work devices,
                                    and maintain clear communication with their teams.
                                    Productivity is measured by performance rather than work hours,
                                    but availability during core business hours is expected.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="weather_card">
                                <CardHeader title="Security Policy"></CardHeader>
                                
                                <CardContent>
                                    Ensuring the security of company assets and information is a collective responsibility.
                                    Employees must follow security protocols such as using strong passwords,
                                    securing physical devices, and reporting any suspicious activity.
                                    Unauthorized system access, data breaches, or sharing of confidential information with
                                    unauthorized parties is strictly prohibited.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row card-layout">
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="basic_card">
                                <CardHeader Title="Code Conduct Policy"></CardHeader>
                                
                                <CardContent>
                                    All employees are expected to uphold professionalism, integrity, and respect
                                    in all workplace interactions. Ethical behavior, clear communication, and adherence
                                    to company policies foster a positive work culture. Discrimination, harassment, and
                                    misconduct will not be tolerated. Employees must respect workplace diversity,
                                    follow ethical decision-making principles, and comply with all applicable legal and corporate guidelines.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                        @* <SfButton CssClass="e-btn e-outline e-primary" >Read More</SfButton> *@
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="weather_card">
                                <CardHeader title="Internet Usage Policy"></CardHeader>
                                
                                <CardContent>
                                    Employees must use company-provided internet access responsibly.
                                    Engaging in illegal activities, excessive personal browsing, or accessing
                                    restricted content is prohibited. Downloading unapproved software or
                                    violating copyright laws is strictly forbidden. Internet activity may be monitored
                                    to ensure compliance with security and productivity guidelines.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                            <SfCard ID="basic_card">
                                <CardHeader title="Expense Reimbursement Policy"></CardHeader>
                                
                                <CardContent>
                                    Employees may request reimbursement for approved work-related expenses,
                                    including travel, meals, and lodging, provided they submit receipts and
                                    supporting documents within the required timeframe. All expense claims must
                                    align with company budgetary policies. Unauthorized or personal expenses will
                                    not be reimbursed unless specifically approved.
                                </CardContent>
                                
                                <CardFooter>
                                    <CardFooterContent>
                                        <a href="https://blazor.syncfusion.com/demos/" target="_blank" rel="noopener noreferrer">
                                            Read More
                                        </a>
                                    </CardFooterContent>
                                </CardFooter>
                            </SfCard>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>